<footer class="text-center text-lg-start bg-dark text-white ">
  <div class="container p-4">
    <section class="">
      <div class="row">
        <div class="col-md-3  mx-auto mt-3">
              <h6 class="fs-5 text-uppercase mb-4 fw-bold">
            SBIT computer education, Faridabad 
            </h6>
            <p class="fs-6">
            Approved By AICTE & Affiliated To HSBTE , Panchkula (Haryana)
            </p>
          </div>
            <hr class="w-100 clearfix d-md-none" />
             <div class="col-md-3 mx-auto mt-3">
      <h6 class="fs-6 fw-bold text-uppercase"> 
        Useful links
       </h6>
       <p>
        <a class="text-white ">AICTE</a>
      </p>
      <p>
        <a class="text-white">HSBTE</a>
      </p>
      <p>
        <a class="text-white">Admission form Institute Level open online </a>
      </p>
      
     </div>
     <hr class="w-100 clearfix d-md-none" />
     <div class="col-md-4 mx-auto mt-3">
      <h6 class="fs-6 fw-bold text-uppercase"> 
        Contact
       </h6>
       <p>
        <a class="text-white ">AICTE</a>
      </p>
      <p>
        <a class="text-white">Sector - 2 ,Faridabad,Haryana(121005)</a>
      </p>
      <p>
        <a class="text-white">sbitfaridabad@hry.nic.in</a>
      </p>
       <p class="text-white">0129-2303688</p>
     </div>
     <hr class="w-100 clearfix d-md-none" >
        </div>
      </div> 
        </section>   
      <section class="">
      <div class="row d-flex align-items-center ">
        <div class="col-7 text-center p-3 t">
          &copy; 2022-23 Copyright Manage By Divya
        </div>  
        <!-- Facebook -->
  
         <div class=" col-5  text-center">
          
       <button><i class="fa fa-facebook-f "></i></button> 
       <button><i class="fa fa-twitter ms-3"></i></button> 
       
      </div>
      </div>
     </section>
  </div>
</footer>