<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/css/page2.css">
</head>

<body>
    {{>header}}
    <div class="main_div">
        
        <form action="/registration" method="post">
            <h2>Registration form</h2>
            <div class="second-div">
                <div class="txt-contain">
                    <label>Name</label>
                    <input type="text" name="name">
                </div>
                <div class="txt-contain">
                    <label>Username</label>
                    <input type="text" name="uname">
                </div>
                <div class="txt-contain">
                    <label>Email</label>
                    <input type="text" name="email">
                </div>

                <div class="txt-contain">
                    <label>phone number</label>
                    <input type="text" name="number">
                </div>
                <div class="txt-contain">
                    <label>password</label>
                    <input type="password" name="password">
                </div>
                <div class="txt-contain">
                    <label>confirm password</label>
                    <input type="password" name="confirm">
                </div>
                <span class="gender-title">Gender </span>
                <div class="gender-category">
                    <input type="radio" name="gender" id="male">
                    <label for="male">Male</label>
                    <input type="radio" name="gender" id="female">
                    <label for="Female">FeMale</label>
                    <input type="radio" name="gender" id="other">
                    <label for="other">other</label>
                </div>
            </div>
            <div class="alert">
                <p>By clicking sign up, you agree to your <a href="#">Terms</a>, <a href="#">privacy policy</a> and<a href="#">Cookies policy</a>  SMS
                    notification from us and can otp out of any time
                </p>
            </div>
            <div class="button-contain">
                <button type="submit">Register</button>
            </div>

        </form>
    </div>
    {{>footer}}
</body>

</html>